.dynamic-input-block {
  position: relative;
}

.dynamic-input-block label {
  font-size: 1.4rem;
}

.dynamic-input-block input {
  width: 100%;
  height: 7.3rem;

  margin-top: 1rem;

  border-radius: 0.8rem;
  background: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);

  outline: 0;
  padding: 1.5rem 1.6rem 0 1.6rem;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dynamic-input-block svg {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  right: 1.5rem;
  top: calc(50% - 1.25rem);
}

.dynamic-input-block .dynamic-error {
  color: var(--color-form-error);
  font-size: 1.4rem;
}

.placeholder {
  font-size: 1.6rem;
  position: absolute;

  top: 47%;
  left: 2rem;

  pointer-events: none;
  user-select: none;
  transition: 0.2s;
  color: var(--color-text-complement);
}

.dynamic-block-touched {
  font-size: 1.4rem;
  left: 1.5rem;
  top: 20%;
}

.dynamic-input-block:focus-within::after {
  width: 2px;
  height: calc(100% - 2.5rem);

  content: '';
  background: var(--color-primary-light);
  position: absolute;
  border-radius: 1px;

  left: 1px;
  bottom: 0.8rem;
}
